CarwashApp.sln
FileManagerLibrary/obj
FileManagerLibrary/FileManagerLibrary.csproj
ClientLibrary/obj
ClientLibrary/ClientLibrary.csproj
CarWashLibrary/CarWashLibrary.csproj
CarWashLibrary/obj
CarWashApp/obj
CarWashApp/CarWashApp.csproj
CarWashTest/obj
CarWashTest/CarWashTest.csproj
CarWashLibrary/bin
CarWashTest/bin
ClientLibrary/bin
CarWashApp/bin
FileManagerLibrary/bin
